<body>
	<div class="container-nagvar">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
			</a>
	
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			<li><a href="/dashboard-doctor" class="nav-link px-2 link-secondary">Inicio</a></li>
			</ul>
	
	
			<div class="dropdown text-end">
			<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<img src="../../../assets/img/logo.png" alt="mdo" width="32" height="32" class="rounded-circle">
			</a>
			<ul class="dropdown-menu text-small" style="">
				<li><a class="dropdown-item" (click)="statusDoctor('1')" type="button">Estado Activo</a></li>
				<li><a class="dropdown-item" (click)="statusDoctor('0')" type="button">Estado Inactivo</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a type="button" class="dropdown-item" (click)="logOut()">Cerrar Sesion</a></li>
			</ul>
			</div>
		</div>
	</div>

	
	
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">Agenda de Citas</h1>
			</div>
		</div>
		</section>
		<div class="agenda">
			<div *ngFor="let data of listaPaciente" class="list-group mb-3">
				<a (click)="editarCita(data.id_horario)" class="list-group-item list-group-item-action" aria-current="true">
				  <div  class="d-flex w-100 justify-content-between">
					<div class="nombr">
						<small>Paciente asignado: </small>
						<h5 class="mb-1">Paciente: {{data.nombre}}</h5>
					</div>

					<small>{{data.fecha_hora}}
						<div class="row">
							<button *ngIf="data.habilitado == 0" type="submit" class="btn btn-success mt-2" (click)="aceptarCita(data.id_horario)">Aceptar Cita</button>
						</div>
						</small>
					
				</div>
				<p class="mb-1"></p>
				<small *ngIf="data.habilitado == 0"><b>Estado: </b>Finalizada</small>
				<small *ngIf="data.habilitado == 1"><b>Estado: </b>Activa</small>
			</a>
		</div>
		</div>
	
