<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
	  <a class="navbar-brand" href="#">
		<img src="../../../assets/img/logo.png" alt="" height="55px">
		Sage Medicine
	 </a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav ms-auto">
		</ul>
	  </div>
	</div>
  </nav>

  <div class="hero vh-100 d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h1 class="display-4 text-white"> Sage Medicine </h1>
				<p class="text-white my-3">Nos caracterizamos por seleccionar a los mejores profesonales para que tu experiencia sea unica.</p>
				<a href="/login" class="btn me-2 btn-success"> Usuario </a>
				<a href="/login-doctor" class="btn btn-outline-light"> Doctor </a>
			</div>
		</div>
	</div>
  </div>
