@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root{
	--primary: #0d6efd;
	--dark: #21252f;
	--body: #888;
	--box-shadow: 0 8px 22px rgba(0,0,0,0,1);
}

body{
	font-family: Sora, "sans-serif";
	line-height: 1.7;
	color: var(--body);
}

h1,h2,h3,h4,h5,h6,
	.display-4{
		color: var(--dark);
		font-weight: 700;
	}

a{
	color: var(--dark);
	text-decoration: none;
}

.navbar .nav-link {
	font-size: 14px;
	font-weight: 700;
}

.btn{
	padding: 14px 18px;
	border-width: 2px;
	border-radius: 10%;
	font-weight: 700;
}

.hero{
	background-image: url(../../../assets/img/fondoLandingPage.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
}

.hero::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(21, 20, 51, 0.8);
	z-index: -1;
}