<div class="container-nagvar">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Calendario</a></li>
        <li><a href="/citas" class="nav-link px-2 link-dark">Citas</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/img/logo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" href="#">Ajustes</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a type="button" class="dropdown-item" (click)="logOut()">Cerrar Sesion</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="container">
	<div class="logo-contenedor">
		<img class="imagen" src="../../../assets/img/error404.jpg" alt="Login">
	</div>
	<div class="mensaje">
		<h4>Ops! La página que ha solicitado no se encuentra disponible</h4>
	</div>
	<div class="boton">
		<button routerLink="/dashboard" class="btn btn-success btn-lg mt-5" >Volver atras</button>
	</div>
</div>