<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/acceso.png" alt="Login">
        <h1>Recuperar</h1>
        <form (ngSubmit)="recover()" [formGroup]="recoverPassword">
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
                <label>Correo</label>
                <span *ngIf="recoverPassword.get('email')?.hasError('required') && recoverPassword.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="recoverPassword.get('email')?.hasError('email') && recoverPassword.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es invalido
                </span>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" type="submit" [disabled]="recoverPassword.invalid">Recuperar</button>
              </div>
              <a class="mt-3" routerLink="/cover">Volver</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
    <ngx-toast-notifier></ngx-toast-notifier>
</div>